.flex-container {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  text-align: center;
  width: 250px;
  border: 1px solid silver;
  border-radius: 20px;
  margin: 10px;
  padding: 0px 30px 15px 30px;
  background-color: rgb(250, 248, 244);
}

.prefecture-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.prefecture {
  width: 100px;
  padding: 5px;
  margin: 5px;
}

.prefecture  > a {
  border: solid 1px silver;
  background-color: rgba(250, 196, 71, 0.872);
  color: rgb(32, 65, 97);
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  width: 75px;
}

.prefecture  > a:hover{
  opacity: 0.8;
}