.main {
  width: 70%;
  margin: auto;
}


.card-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
}

.day-card {
  border: 1px solid;
  border-radius: 5px;
  width: 50%;
  margin: 15px auto;
  text-align: center;
  font-size: 50px;
  background-color: rgb(250, 248, 244);
  color: rgb(32, 65, 97);
}

.day-card:hover{
  opacity: 0.5;
  cursor:pointer;
  background-color: rgb(32, 65, 97);
  color:rgb(250, 248, 244);
}

h2 {
  text-align: center;
}